@import "src/common/style/mixins";

.createContainer {
  padding: 66px 110px;
  @include container {
    padding: 66px 50px;
  }
  border-radius: 24px;

  .slider {
    margin-bottom: 104px;
  }

  .form {
    @include flex(flex-start, stretch, column, 24px);

    .buttons {
      margin-top: 64px;
      @include flex(space-between, center);
    }
  }
}
