@import "./mixins";
@import "./variables";

.wrapper {
  @include flex(flex-start, stretch, column, 8px);
  flex-basis: 100%;

  .input {
    width: 100%;
    height: 44px;
    border-radius: $borderRadius;
    @include mediaTabletMain {
      max-width: 100%;
    }
  }

  .errorField {
    border: 1px solid red;
  }

  .select {
    max-width: 300px;
    width: 100%;
    border-radius: $borderRadius;
  }

  .error {
    @include error()
  }
}
