@import "src/common/style/mixins";
@import "src/common/style/variables";

.textWrapper {
  @include flex(flex-start, stretch, column, 8px);

  .textArea {
    min-height: 84px;
    border-radius: $borderRadius;
  }

  .errorTextArea {
    border-color: red;
  }

  .info {
    @include flex(space-between, center);

    .error {
      @include error();
    }

    & > p {
      align-self: flex-end;
      font-size: 13px;
      color: gray;
    }
  }
}