@import "src/common/style/variables";

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.16);
  z-index: 20;
}

.container {
  min-width: $minWidthScreen;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 21;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  padding: 0 20px;

  .modal {
    width: 100%;
    background: white;
    z-index: 21;
    border-radius: 12px;
    padding: 32px;
    text-align: center;
  }
}