@import "src/common/style/mixins";

.mainContainer {
  padding: 24px;
  height: 704px;
  @include container;
  border-radius: 12px 12px 0 0;

  .info {
    @include flex(flex-start, center, $gap: 24px);
    @include mediaTabletMain{
      @include flex(center, center, column, $gap: 24px);
    }

    .avatar {
      background: #D5E4F7;
      color: black;
      font-size: 40px;
    }

    .connection {
      @include flex(center, stretch, column, 8px);
      @include mediaTabletMain{
        align-items: center;
      }
      .name {
        font-weight: 600;
        font-size: 20px;
        @include mediaTabletMain{
          text-align: center;
        }
      }

      .contacts {
        @include flex(flex-start, stretch, $gap: 17px, $wrap: wrap);

        & > a {
          text-decoration: none;
          @include flex(flex-start, flex-end, $gap: 6px);

          & > span {
            font-weight: 400;
            font-size: 12px;
            color: #5558FA;
          }
        }
      }
    }
  }

  .form {
    .inputs {
      @include flex(flex-start, stretch, column, 24px);
    }

    .button {
      margin-top: 48px;
    }
  }
}