@import "../../style/mixins";

.inputWrapper {
  @include flex(flex-start, stretch, column, 8px);

  .input {
    width: 100%;
    height: 44px;
  }
  .errorInput{
    border-color: red;
  }
  .error {
    @include error()
  }
}