*{
  word-break: break-word;
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #F4F4F5;
  font-family: 'SB Sans Interface',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label {
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
